<%if(theme.hometop.middleBander){ %>
    <div id="banner" style="background-image: url('<%= theme.hometop.middleBanderUrl %>');filter: blur(45px);">
        <div id="typing-animation" style="color: #fff;">
            <p id="title" style="font-size: 1.8467rem;">
                <%= theme.hometop.text %>
            </p>
            <div class="bot">
                <span id="text" style="color: #fff;">
                    _
                </span>
                <span id="cursor"></span>
            </div>
        </div>
        <div id="down">
            <svg t="1690857392165" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
                p-id="3046" width="45" height="45">
                <path
                    d="M722.773333 381.44a64 64 0 0 1 90.453334 90.453333l-252.970667 253.013334a68.266667 68.266667 0 0 1-96.512 0l-253.013333-253.013334a64 64 0 0 1 90.538666-90.453333L512 592.128l210.773333-210.773333z"
                    fill="#fff" p-id="3047"></path>
            </svg>
        </div>
    </div>
    <%} %>
        <div class="main-container" style="background-color: #f7f9fe;">
            <div id="home_top" style="background-color: #f7f9fe;">
                <% if(theme.hometop.bbtime){ %>
                    <%- partial('partial/compoment/hometop/bbTimeList') %>
                        <% } %>
                            <% if(theme.hometop.banner.enable){ %>
                                <%- partial('partial/hometop') %>
                                    <% } %>
            </div>
            <!-- 云 -->
            <div class="cloud_1"></div>
            <div class="cloud_2"></div>

            <main class="layout" id="content-inner" style="background-color: #f7f9fe;">
                <div class="recent-posts" id="recent-posts">
                    <div id="category-bar">
                        <%- partial('partial/compoment/home/homeCategoryBar', {select:false}) %>
                    </div>
                    <% for (const item of page.posts.sort('-date').data){ %>
                        <%- partial('partial/compoment/home/postList', {post: item}) %>
                            <% } %>
                                <%- partial('partial/compoment/mixins/pagination') %>
                </div>
                <%- partial('partial/compoment/aside/aside') %>
            </main>
        </div>

        <style>
            #banner {
                transition: all .3s;
            }

            #typing-animation {
                color: #fff;
            }

            #typing-animation .title {
                font-size: 1.5676rem;
            }

            @keyframes blink44 {
                0% {
                    opacity: 0;
                }

                50% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }

            @keyframes blink2 {
                0% {
                    opacity: 0;
                }

                50% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }
        </style>

        <script>
            function loadBannerHandel () {
                const image = new Image();
                image.onload = () => {
                    document.querySelector('#banner').style.filter = 'blur(0px)'
                    const randomNum = Math.floor(Math.random() * 12);
                    const randomUrl = `https://wuqi-y.oss-cn-nanjing.aliyuncs.com/hexo/img/image/${randomNum}.jpg`
                    document.querySelector('#banner').style.backgroundImage = `url(${randomUrl})`
                }
                image.src = '<%= theme.hometop.middleBanderUrl %>'
                echo.init({
                    offset: 10,
                    throttle: 250,
                    unload: false,
                    debounce: false,
                    callback: function (element, op) {
                        // console.log(element, 'has been', op + 'ed')
                    }
                });
            }
            window.addEventListener('popstate', loadBannerHandel());
            loadBannerHandel()
        </script>