<!DOCTYPE html>
<html lang="<%= config.language %>" data-theme="light">
<style>
    body {
        background-color: #000;
        /*防止出现向下滚动条*/
        overflow: hidden;
    }
</style>

<head>
    <%- partial('partial/head', {cache: true}) %>
</head>

<body id="body">
    <% if(theme.loading.fullpage){ %>
        <%- partial('partial/loading', {cache: true}) %>
            <% } %>
                <%- partial('partial/console', {cache: true}) %>
                    <%- partial('partial/sidebar', {cache: true}) %>
                        <% if(page.type !=='404' ){ %>
                            <div class="<%= is_post() ? 'post' : 'page' %>" id="body-wrap">
                                <%- partial('partial/header') %>
                                    <%- body %>
                                        <footer id="footer">
                                            <%- partial('partial/footer', {cache: true}) %>
                                        </footer>
                            </div>
                            <% }else{ %>
                                <div class="error" id="body-wrap">
                                    <%- body %>
                                </div>
                                <% } %>
                                    <%- partial('partial/body', {cache: true}) %>
                                        <%- partial('partial/compoment/third-party/search/index', {cache: true}) %>
                                            <%- partial('partial/compoment/third-party/music', {cache: true}) %>
</body>

</html>


<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script>
    function snow () {
        //1、定义一片雪花模板 
        var flake = $("<div>").css({ "position": "absolute", "color": "#afdaef" }).html("❄");
        //获取页面的宽度，利用这个数来算出，雪花开始时left的值 
        var documentWidth = $(document).width();
        //获取页面的高度 相当于雪花下落结束时Y轴的位置 
        var documentHieght = $(document).height();
        //定义生成一片雪花的毫秒数 
        var millisec = 500;
        //2、设置第一个定时器，周期性定时器，每隔一段时间（millisec）生成一片雪花； 
        setInterval(function () {
            //随机生成雪花下落 开始 时left的值，相当于开始时X轴的位置 
            var startLeft = Math.random() * documentWidth;
            //随机生成雪花下落 结束 时left的值，相当于结束时X轴的位置 
            var endLeft = Math.random() * documentWidth;
            //随机生成雪花大小 
            var flakeSize = 15 + 25 * Math.random();
            //随机生成雪花下落持续时间 
            var durationTime = 12000 + 12000 * Math.random();
            //随机生成雪花下落 开始 时的透明度 
            var startOpacity = 0.7 + 0.3 * Math.random();
            //随机生成雪花下落 结束 时的透明度 
            var endOpacity = 0.1 + 0.1 * Math.random();
            //3、克隆一个雪花模板,定义雪花的初始样式，拼接到页面中 
            flake.clone().appendTo($("body")).css({ "left": startLeft, "opacity": startOpacity, "font-size": flakeSize, "top": "-25px", }).animate({
                //执行动画 
                "left": endLeft, "opacity": endOpacity, "top": documentHieght
            }, durationTime, function () {
                //4、当雪花落下后，删除雪花。 
                $(this).remove();
            });
        }, millisec);
    };

    // 使用正则表达式匹配常见的移动设备用户代理字符串
    const mobileRegex = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i;

    // 判断用户代理字符串是否匹配移动设备正则表达式
    const isMobile = mobileRegex.test(navigator.userAgent);

    // 输出结果
    if (isMobile) {
        console.log("用户正在使用手机访问网页");
    } else {
        console.log("用户正在使用电脑访问网页");
        snow();
    }

</script>